

* {
    font-family: 'Open Sans', sans-serif;
   color: white;
   margin: 0;
   box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  

section {
    padding-top: 5px;
    background-color: #DDECFE;
    display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   width: 100%;
}



input {
width: 100%;
height: 42px;
background: #fdfdfe;
border-radius: 23px;
padding: 0 30px;
border: none;
color: black;
}

input::placeholder {
    color: rgb(111, 111, 111);
}

input:focus {
    outline: none;
  }

.main-section {
display: flex;
flex-direction: column;
background: #132C4C;
border-radius: 15px;
gap: .7rem;
padding: 15px 10px;
width: 650px;
}

.title {
padding: 5px;
color: #ffffff;
background-color:rgb(252, 127, 24);
border-radius: 8px;
width: 250px;
text-align: center;
font-size: 34px;
padding: 10px;
}

.hourlyForcast, .daylyForcast{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: .5rem;
    background-color: rgba(0, 99, 212, 0.2);
}

.hourlyForcast h2{
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 100;
}

ul {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: auto;
    padding: 0;
}

.daylyForcast ul {
    justify-content: center;
    overflow: hidden;
}

.hourlyBox{
    padding: 0 30px  ;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(84, 155, 237, 0.4);
}

.daylyBox {
    width: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(84, 155, 237, 0.4);
}


.day-time {
    display: flex;
    font-size: 16px;
    gap: 5rem;
}



.for-waether {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    padding: 5px 0;
    background-color: rgba(0, 99, 212, 0.2);
    /* background-image: url("images/sonny.png"); */
}

.current {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info-box{
    display: grid;
    align-items: center;
    border-radius: 8px;
    padding: 1rem;
    background-color: rgba(0, 99, 212, 0.2);
}

.info-box tbody {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto;
}

tr {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(170, 167, 167,0.5);
    display: flex;
    justify-content: space-between;
    
}

th {
    font-weight: 300;
    
}

.box-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    gap: .5rem;
    padding: 10px 10px 10px 15px;
}

.box-two p {
    font-size: 18px;
}

.box-two h2 {
    font-size: 28px;
    text-align: start;
}


span {
    font-size: 24px;
   position: absolute;
   top: 10px;
}



.for-waether img {
    width: 80px;
}

.temp {
    font-size: 62px;
    position: relative;
}


.icon-condi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
}

h2 {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}

.city_country {
    display: flex;
    flex-direction: column;
    
}

.city_country h2 {
    font-size: 36px;
    
}

.city_country p {
    font-size: 20px;
    font-weight: 100;
}

h3 {
    color: rgb(255, 183, 124);
}


@media (max-width: 844px)  {
    section {
        padding-top: 0px;
        background-color: #DDECFE;
        display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
       height: 100vh;
    }
    
    
    
    input {
        width: 100%;
    height: 42px;
    background: #fdfdfe;
    border-radius: 23px;
    padding: 0 30px;
    border: none;
    }
    
    input::placeholder {
        color: rgb(111, 111, 111);
    }
    
    input:focus {
        outline: none;
      }
    
    .main-section {
    display: flex;
    flex-direction: column;
    background: #132C4C;
    border-radius: 0px;
    gap: .7rem;
    padding: 20px 5px;
    width: 100%;
    height: 100vh;
    }
    
    .title {
    color: #ffffff;
    background-color:rgb(252, 127, 24);
    border-radius: 8px;
    width: 180px;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    }
    
    .hourlyForcast, .daylyForcast{
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        width: 100%;
        padding: .2rem;
        background-color: rgba(0, 99, 212, 0.2);
    }
    
    .hourlyForcast h2{
        padding-bottom: 20px;
        font-size: 16px;
        font-weight: 100;
    }
    
    ul {
        display: flex;
        justify-content: start;
        align-items: center;
        overflow: auto;
        padding: 0;
    }
    
    .daylyForcast ul {
        justify-content: center;
        overflow: hidden;
    }
    
    .hourlyBox{
        padding: 2px 14px  ;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-right: 1px solid rgba(84, 155, 237, 0.4);
    }
    
    .daylyBox {
        width: 150px;
        list-style: none;
        display: flex;
        padding: 5px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-right: 1px solid rgba(84, 155, 237, 0.4);
    }

    .daylyBox p{
       font-size: 12px;
    }

    .hourlyBox p{
        font-size: 12px;
    }
    
    
    
    .day-time {
        display: flex;
        font-size: 16px;
        gap: 1rem;
    }
    
    
    
    .for-waether {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 2rem;
        border-radius: 8px;
        padding: 20px 0;
        background-color: rgba(0, 99, 212, 0.2);
        /* background-image: url("images/sonny.png"); */
    }
    
    .current {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-left:30px;
    }
    
    .info-box{
        display: grid;
        align-items: center;
        border-radius: 8px;
        width: 100%;
        padding: 1rem;
        background-color: rgba(0, 99, 212, 0.2);
    }
    
    .info-box tbody {
        display: grid;

        gap: .5rem;
        grid-template-columns: auto auto ;
    }
    
    tr {
        color: rgb(255, 255, 255);
        font-size: 12px;
        border-bottom: 1px solid rgba(170, 167, 167,0.5);
        display: flex;
        justify-content: space-between;
        width: 130px;
        
    }
    
    th {
        font-weight: 300;
        
    }
    
    .box-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 5px;
        gap: 1.3rem;
        padding: 15px 10px 0 15px;
    }
    
    .box-two p {
        font-size: 18px;
    }
    
    .box-two h2 {
        font-size: 28px;
        text-align: start;
    }
    
    
    span {
        font-size: 24px;
       position: absolute;
       top: 10px;
    }
    
    
    
    .for-waether img {
        width: 60px;
    }
    
    .temp {
        font-size: 42px;
        position: relative;
    }
    
    
    .icon-condi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 0px;
    }
    
    h2 {
        font-size: 22px;
        text-align: center;
        font-weight: 500;
    }
    
    .city_country {
        display: flex;
        flex-direction: column;
        
    }
    
    .city_country h2 {
        font-size: 22px;
        
    }
    
    .city_country p {
        font-size: 12px;
        font-weight: 100;
    }
    
    h3 {
        color: rgb(255, 183, 124);
    }
    
}